In [1]:
import pandas as pd

In [7]:
df=pd.read_csv("rounds2.csv",encoding="latin")

In [86]:
df.head(100)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
...,...,...,...,...,...,...
95,/ORGANIZATION/1234ENTER,/funding-round/6343322ed785252d4c5ada444fa7d8e4,venture,NaN,22-11-2013,150267.0
96,/organization/1234enter,/funding-round/ee6f9dea78c9a0697a500098a854564d,seed,NaN,01-09-2012,500000.0
97,/ORGANIZATION/123CONTACTFORM,/funding-round/af7382f8e3d806986796029388cb1b7f,venture,NaN,16-06-2015,1000000.0
98,/organization/123contactform,/funding-round/b678dec4e0df10e2518a81215f8fd843,angel,NaN,01-01-2010,NaN
99,/ORGANIZATION/123FENG-COM,/funding-round/9d83084d87dc63a309c9a6fe9bf59d1b,venture,A,27-10-2015,13000000.0

In [100]:
# Representative funding amount of venture type

In [134]:
round_type=df['funding_round_type'].unique()
round_type

array(['venture', 'seed', 'undisclosed', 'equity_crowdfunding',
       'convertible_note', 'private_equity', 'debt_financing', 'angel',
       'grant', 'secondary_market', 'post_ipo_equity', 'post_ipo_debt',
       'product_crowdfunding', 'non_equity_assistance'], dtype=object)

In [104]:
venture=df[df['funding_round_type']=='venture']

In [106]:
venture=venture.dropna()

In [108]:
venture_median=venture['raised_amount_usd'].median()

In [110]:
venture_median

7500000.0

In [128]:
#Representative funding amount of angle type
angel=df[df['funding_round_type']=='angel']
angel=angel.dropna()
angel_median=angel['raised_amount_usd'].median()
angel_median

1306921.0

In [130]:
#Representative funding amount of seed type
seed=df[df['funding_round_type']=='seed']
seed=seed.dropna()
seed_median=seed['raised_amount_usd'].median()
seed_median

1800000.0

In [136]:
# Representative funding amount of private_equity type
private_equity=df[df['funding_round_type']=='private_equity']
private_equity=seed.dropna()
private_equity_median=private_equity['raised_amount_usd'].median()
private_equity_median

1800000.0

In [142]:
# Considering that Spark Funds wants to invest between 5 to 15 million USD per investment round, which investment type is the most suitable for them?
investment_dict={
    0:"Venture",
    1:"angel",
    2:"seed",
    3:"private_equity"
}
investment_list=[venture_median,angel_median,seed_median,private_equity_median]
for i in range(len(investment_list)):
    if investment_list[i]>=5000000 and investment_list[i]<=15000000:
        print(f"{investment_dict[i]} is suitable for investment.\nInvestment amount:{investment_list[i]}")

Venture is suitable for investment.
Investment amount:7500000.0