In [421]:
import pandas as pd

In [422]:
df=pd.read_csv("companies.csv",encoding="latin")

In [423]:
df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [424]:
df["primary_sector"]=df["category_list"].str.split("|").str[0]

In [425]:
df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software

In [426]:
df2=pd.read_csv("mapping.csv",encoding="latin")

In [427]:
df2.head(2)

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0

In [428]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   permalink       66368 non-null  object
 1   name            66367 non-null  object
 2   homepage_url    61310 non-null  object
 3   category_list   63220 non-null  object
 4   status          66368 non-null  object
 5   country_code    59410 non-null  object
 6   state_code      57821 non-null  object
 7   region          58338 non-null  object
 8   city            58340 non-null  object
 9   founded_at      51147 non-null  object
 10  primary_sector  63220 non-null  object
dtypes: object(11)
memory usage: 5.6+ MB

In [429]:
# df2=df2.rename("category_list","primary_sector")
df2.rename(columns={'category_list': 'primary_sector'}, inplace=True)

In [430]:

# Function to get the column name where the binary value is 1
def get_selected_column(row):
    return df2.columns[row.argmax() + 1]  # +1 to skip the 'name' column

In [431]:
# Apply the function row-wise to get the selected column
df2['Main_market'] = df2.iloc[:, 1:].apply(get_selected_column, axis=1)  # Ignore the 'name' column

In [432]:
df2.head()

,primary_sector,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising",Main_market
0,NaN,0,1,0,0,0,0,0,0,0,Blanks
1,3D,0,0,0,0,0,1,0,0,0,Manufacturing
2,3D Printing,0,0,0,0,0,1,0,0,0,Manufacturing
3,3D Technology,0,0,0,0,0,1,0,0,0,Manufacturing
4,Accounting,0,0,0,0,0,0,0,0,1,"Social, Finance, Analytics, Advertising"

In [433]:
df2=df2[['primary_sector','Main_market']]

In [434]:
df2.head()

  primary_sector                              Main_market
0            NaN                                   Blanks
1             3D                            Manufacturing
2    3D Printing                            Manufacturing
3  3D Technology                            Manufacturing
4     Accounting  Social, Finance, Analytics, Advertising

In [435]:
df3=pd.merge(df, df2, on='primary_sector', how='left')

In [436]:
df3.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector,Main_market
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media,Entertainment
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms,"News, Search and Messaging"
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps,"News, Search and Messaging"
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web,"News, Search and Messaging"
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,Software,Others

In [437]:
df4=pd.read_csv("rounds2.csv",encoding="latin")

In [438]:
df4.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [439]:
df4.rename(columns={'company_permalink': 'permalink'}, inplace=True)

In [440]:
df4['permalink'] = df4['permalink'].str.lower()

In [441]:
df3['permalink'] = df3['permalink'].str.lower()

In [442]:

df5=pd.merge(df3, df4, on='permalink', how='left')

In [443]:
df5.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector,Main_market,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,Media,Entertainment,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms,"News, Search and Messaging",/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,Application Platforms,"News, Search and Messaging",/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,Apps,"News, Search and Messaging",/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,Curated Web,"News, Search and Messaging",/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [444]:
filtered_df = df5[
    (df5['funding_round_type'] == 'venture') & 
    (df5['country_code'].isin(["USA", "IND", "GBR"])) & 
    (df5['raised_amount_usd'] >= 5000000) & 
    (df5['raised_amount_usd'] <= 15000000)
]

In [445]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13108 entries, 0 to 114934
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   permalink                13108 non-null  object
 1   name                     13108 non-null  object
 2   homepage_url             12482 non-null  object
 3   category_list            13013 non-null  object
 4   status                   13108 non-null  object
 5   country_code             13108 non-null  object
 6   state_code               13090 non-null  object
 7   region                   13068 non-null  object
 8   city                     13068 non-null  object
 9   founded_at               11198 non-null  object
 10  primary_sector           13013 non-null  object
 11  Main_market              12120 non-null  object
 12  funding_round_permalink  13108 non-null  object
 13  funding_round_type       13108 non-null  object
 14  funding_round_code       9289 non-null   object
 15  funded_at                13108 non-null  object
 16  raised_amount_usd        13108 non-null  float64
dtypes: float64(1), object(16)
memory usage: 1.8+ MB

In [446]:
df1=filtered_df[filtered_df["country_code"]=="USA"]
df1 = df1[~(df1['Main_market']=="Blanks")]
df1.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector,Main_market,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
12,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,Analytics,NaN,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,A,19-07-2014,8900000.0
22,/organization/1-mainstream,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012,Apps,"News, Search and Messaging",/funding-round/b952cbaf401f310927430c97b68162ea,venture,NaN,17-03-2015,5000000.0
103,/organization/128-technology,128 Technology,http://www.128technology.com/,Service Providers|Technology,operating,USA,MA,Boston,Burlington,07-07-2014,Service Providers,Others,/funding-round/fb6216a30cb566ede89e0bee0623a634,venture,NaN,16-12-2014,11999347.0
110,/organization/1366-technologies,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,Manufacturing,Manufacturing,/funding-round/424129ce1235cfab2655ee81305f7c2b,venture,C,15-10-2013,15000000.0
111,/organization/1366-technologies,1366 Technologies,http://www.1366tech.com,Manufacturing,operating,USA,MA,Boston,Bedford,01-01-2007,Manufacturing,Manufacturing,/funding-round/6d3f3797371956ece035b8478c1441b2,venture,C,09-04-2015,5000000.0

In [447]:
# Total number of Investments (count)
row_count = df1.shape[0]
print(row_count)

12064

In [448]:
# Total amount of investment (USD)
total_amount_of_investment=df1["raised_amount_usd"].sum()
print(total_amount_of_investment)

107766584223.0

In [449]:
# Top Sector name (no. of investment-wise)
grouped_df = df1.groupby('Main_market').sum()
grouped_df.head(3)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
Main_market,,,,,,,,,,,,,,,,
Automotive & Sports,/organization/3d-robotics/organization/3d-robo...,3D Robotics3D RoboticsAdditechAGM AutomotiveAi...,http://3drobotics.comhttp://3drobotics.comhttp...,Drones|ManufacturingDrones|ManufacturingAutomo...,operatingoperatingoperatingoperatingoperatingo...,USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...,CACATXMIWACACACACATXCANCCACACACAORORORCACACAFL...,San DiegoSan DiegoHoustonDetroitSeattleSF Bay ...,San DiegoSan DiegoHoustonTroySeattleSan Franci...,01-01-200901-01-200901-01-199501-02-200101-01-...,DronesDronesAutomotiveAutomotiveAutomotiveAero...,/funding-round/2785595770e91ab8fd4854ef125ec56...,ventureventureventureventureventureventurevent...,ACAAABBBACDAAABAABDBAABAAABABCAAABCEDABABAAAAA...,05-11-201223-04-201509-08-200630-04-201413-09-...,1.454104e+09
Cleantech / Semiconductors,/organization/1bog/organization/22nd-century-g...,One Block Off the Grid (1BOG)22nd Century Grou...,http://1bog.orghttp://www.xxiicentury.comhttp:...,Clean Technology|Residential SolarBiotechnolog...,closedipooperatingoperatingoperatingoperatingo...,USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...,CANYCACACACACACAKYCAWAMAMACACAOHCACAMIMIMICACA...,SF Bay AreaNY - OtherSF Bay AreaSF Bay AreaSF ...,San FranciscoClarenceMountain ViewMountain Vie...,01-11-200801-01-199801-04-200601-04-200601-04-...,Clean TechnologyBiotechnologyBiotechnologyBiot...,/funding-round/3d2463c9b97f32b3be8747fbd629961...,ventureventureventureventureventureventurevent...,ACBAAAACCBBAAADBBCEDCBBCEBABABAAAABCABAACBAEDD...,11-02-201018-09-201407-01-201118-06-200903-10-...,2.118100e+10
Entertainment,/organization/7-star-entertainment/organizatio...,7 Star Entertainment8D World8D WorldA Bit Luck...,http://www.7starent.comhttp://www.8dworld.com/...,GamesGames|Virtual WorldsGames|Virtual WorldsG...,operatingclosedclosedclosedoperatingoperatingo...,USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...,FLMAMACAMAMAMAMANYNYCACACASCGAMAMACTCANYCACACA...,Ft. LauderdaleBostonBostonSF Bay AreaBostonBos...,Pompano BeachWoburnWoburnSan MateoBurlingtonBu...,01-10-200901-05-200701-05-200701-05-200701-05-...,GamesGamesGamesGamesContentContentContentConte...,/funding-round/7db2e0412185f592d15df25f0e76c31...,ventureventureventureventureventureventurevent...,BADCABCDABABAAAABACABBADDBCAACCBBCAAAAAABBBBAA...,14-07-201009-12-201001-03-200825-03-201120-07-...,5.000213e+09

In [450]:
df_sorted = grouped_df.sort_values(by='raised_amount_usd', ascending=False)

In [451]:
df_sorted.head(3)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
Main_market,,,,,,,,,,,,,,,,
Others,/organization/128-technology/organization/170-...,128 Technology170 Systems17zuoye17zuoye1stdibs...,http://www.128technology.com/http://www.170sys...,Service Providers|TechnologySoftwareEducation|...,operatingacquiredoperatingoperatingoperatingip...,USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...,MAMAVAVANYMDMDCACAPACACACACACACACACACANYNYNCNC...,BostonBostonVA - OtherVA - OtherNew York CityM...,BurlingtonBedfordShanghaiShanghaiNew YorkHyatt...,07-07-201401-01-199001-01-200701-01-200701-01-...,Service ProvidersSoftwareEducationEducationE-C...,/funding-round/fb6216a30cb566ede89e0bee0623a63...,ventureventureventureventureventureventurevent...,AABCDAAAADBCBCDBABBABBCDAAAABBBADBABACBDCCBBBB...,16-12-201416-04-200201-01-201101-09-201324-01-...,2.608928e+10
Cleantech / Semiconductors,/organization/1bog/organization/22nd-century-g...,One Block Off the Grid (1BOG)22nd Century Grou...,http://1bog.orghttp://www.xxiicentury.comhttp:...,Clean Technology|Residential SolarBiotechnolog...,closedipooperatingoperatingoperatingoperatingo...,USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...,CANYCACACACACACAKYCAWAMAMACACAOHCACAMIMIMICACA...,SF Bay AreaNY - OtherSF Bay AreaSF Bay AreaSF ...,San FranciscoClarenceMountain ViewMountain Vie...,01-11-200801-01-199801-04-200601-04-200601-04-...,Clean TechnologyBiotechnologyBiotechnologyBiot...,/funding-round/3d2463c9b97f32b3be8747fbd629961...,ventureventureventureventureventureventurevent...,ACBAAAACCBBAAADBBCEDCBBCEBABABAAAABCABAACBAEDD...,11-02-201018-09-201407-01-201118-06-200903-10-...,2.118100e+10
"Social, Finance, Analytics, Advertising",/organization/21e6/organization/33across/organ...,21 Inc33Across33Across360Commerce3Pillar Globa...,https://21.cohttp://www.33across.comhttp://www...,Big Data|Bitcoin|Hardware + Software|Technolog...,operatingoperatingoperatingacquiredoperatingop...,USAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAUSAU...,CANYNYTXVAVACACACACAWAWACACATXTXTXCACACACACAFL...,SF Bay AreaNew York CityNew York CityAustinWas...,San FranciscoNew YorkNew YorkAustinFairfaxFair...,01-05-201301-09-200701-09-200701-08-200601-08-...,Big DataAdvertisingAdvertisingInformation Tech...,/funding-round/bdf9f5bf67ee51155eae223acac57ec...,ventureventureventureventureventureventurevent...,ACBCADECDABAAABABCACBBCBBCAACCBBABBBABABDCBAAB...,17-11-201319-07-201205-01-201129-10-200306-06-...,1.668070e+10

In [452]:
# Find the index of the max 'raised_amount_usd' in each 'Main_market'
max_scores_idx = df1.groupby('Main_market')['raised_amount_usd'].idxmax()

# Retrieve rows from the DataFrame using the indices
max_scores = df1.loc[max_scores_idx, ['Main_market', 'name', 'raised_amount_usd']].reset_index(drop=True)

# Count the number of occurrences for each 'Main_market'
market_counts = df1['Main_market'].value_counts()

# Map these counts to the 'max_scores' DataFrame
max_scores['count_of_main_market'] = max_scores['Main_market'].map(market_counts)

max_scores

,Main_market,name,raised_amount_usd,count_of_main_market
0,Automotive & Sports,Design Within Reach,15000000.0,167
1,Cleantech / Semiconductors,480 Biomedical,15000000.0,2297
2,Entertainment,Acquia,15000000.0,580
3,Health,Acuity Pharmaceuticals,15000000.0,908
4,Manufacturing,1366 Technologies,15000000.0,799
5,"News, Search and Messaging",Actelis Networks,15000000.0,1563
6,Others,1stdibs,15000000.0,2923
7,"Social, Finance, Analytics, Advertising",Admeld,15000000.0,1912

In [453]:


# max_rows.head()
max_scores_idx = df1.groupby('Main_market')['raised_amount_usd'].idxmax()
# print(max_scores_idx)
max_scores = df1.loc[max_scores_idx, ['Main_market', 'name', 'raised_amount_usd']].reset_index(drop=True)
max_scores.head(10)

,Main_market,name,raised_amount_usd
0,Automotive & Sports,Design Within Reach,15000000.0
1,Cleantech / Semiconductors,480 Biomedical,15000000.0
2,Entertainment,Acquia,15000000.0
3,Health,Acuity Pharmaceuticals,15000000.0
4,Manufacturing,1366 Technologies,15000000.0
5,"News, Search and Messaging",Actelis Networks,15000000.0
6,Others,1stdibs,15000000.0
7,"Social, Finance, Analytics, Advertising",Admeld,15000000.0

In [454]:
# For numeric columns
numeric_cols = df1.select_dtypes(include='number').columns
grouped_numeric = df1.groupby('Main_market')[numeric_cols].max()

# For object (string) columns
string_cols = df1.select_dtypes(include='object').columns
grouped_string = df1.groupby('Main_market')[string_cols].agg(lambda x: x.mode().iat[0] if not x.mode().empty else x.iloc[0])

# Combine the two DataFrames
grouped_df = pd.concat([grouped_numeric, grouped_string], axis=1)

# Display the result
grouped_df.head()

,raised_amount_usd,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,primary_sector,Main_market,funding_round_permalink,funding_round_type,funding_round_code,funded_at
Main_market,,,,,,,,,,,,,,,,,
Automotive & Sports,15000000.0,/organization/zero-motorcycles,Zero Motorcycles Inc.,http://www.zeromotorcycles.com,Automotive,operating,USA,CA,SF Bay Area,San Francisco,01-01-2009,Automotive,Automotive & Sports,/funding-round/011eaf868f2ac45feda0d618237e2d6a,venture,A,01-04-2012
Cleantech / Semiconductors,15000000.0,/organization/biodesix,Biodesix,http://www.biodesix.com,Biotechnology,operating,USA,CA,SF Bay Area,Cambridge,01-01-2006,Biotechnology,Cleantech / Semiconductors,/funding-round/00292f78b23dd0c123c8f058a4f54d43,venture,A,01-10-2012
Entertainment,15000000.0,/organization/avnera,Avnera,http://www.avnera.com,Games,operating,USA,CA,SF Bay Area,San Francisco,01-01-2007,Games,Entertainment,/funding-round/00e2c41f698c3aaa788ecc312615d738,venture,A,01-09-2007
Health,15000000.0,/organization/endogastric-solutions,EndoGastric Solutions,http://www.endogastricsolutions.com,Health Care,operating,USA,CA,SF Bay Area,San Francisco,01-01-2004,Health Care,Health,/funding-round/009ee9f1aa91270e6bcf9ed0f1f8dfb5,venture,A,01-01-2006
Manufacturing,15000000.0,/organization/1366-technologies,1366 Technologies,http://www.1366tech.com,Hardware + Software,operating,USA,CA,SF Bay Area,San Francisco,01-01-2003,Hardware + Software,Manufacturing,/funding-round/000066459ef68958129a2e225e577eb8,venture,A,05-11-2014