In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("rounds2.csv",encoding='latin-1')

In [3]:
df.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [4]:
%config Completer.use_jedi = True

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   company_permalink        114949 non-null  object
 1   funding_round_permalink  114949 non-null  object
 2   funding_round_type       114949 non-null  object
 3   funding_round_code       31140 non-null   object
 4   funded_at                114949 non-null  object
 5   raised_amount_usd        94959 non-null   float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [6]:
# How many unique companies are present in rounds2?
df=df['company_permalink']
df=df.dropna()

In [7]:
unique_company_in_round_2=df.nunique()
print(unique_company_in_round_2)

90247

In [8]:
# How many unique companies are present in the companies file?

In [9]:
df=pd.read_csv("companies.csv",encoding='latin-1')

In [10]:
df=df['name']
df=df.dropna()

In [11]:
unique_company_in_companies=df.nunique()
print(unique_company_in_companies)

66099

In [12]:
# In the companies data frame, which column can be used as the unique key for each company? Write the name of the column.

In [13]:
df=pd.read_csv("companies.csv",encoding='latin-1')

In [14]:
df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [15]:
df.tail()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   permalink      66368 non-null  object
 1   name           66367 non-null  object
 2   homepage_url   61310 non-null  object
 3   category_list  63220 non-null  object
 4   status         66368 non-null  object
 5   country_code   59410 non-null  object
 6   state_code     57821 non-null  object
 7   region         58338 non-null  object
 8   city           58340 non-null  object
 9   founded_at     51147 non-null  object
dtypes: object(10)
memory usage: 5.1+ MB

In [17]:
df=df['permalink']
df=df.dropna()

In [18]:
unique_column=df.nunique()
print(unique_column)

66368

In [19]:
# Are there any companies in the rounds2 file which are not present in companies ? Answer Y/N.

In [20]:

df1=pd.read_csv("rounds2.csv",encoding="latin-1")

In [21]:
df1=df1['company_permalink']

In [22]:
unique_company_in_rounds_2=df1.nunique()
print(unique_company_in_rounds_2)

90247

In [ ]:
df2=pd.read_csv("companies.csv",encoding="latin-1")

In [ ]:
df2=df2['name']

In [ ]:
unique_company_in_companies=df2.nunique()
print(unique_company_in_companies)

In [ ]:
if unique_company_in_companies==unique_company_in_rounds_2:
    print("Yes")
else:
    print("No")

In [ ]:
# Merge the two data frames so that all variables (columns) in the companies frame are added to the rounds2 data frame.
# Name the merged frame master_frame. How many observations are present in master_frame ?

In [ ]:
df1=pd.read_csv("rounds2.csv",encoding="latin-1")

In [ ]:
df2=pd.read_csv("companies.csv",encoding="latin-1")

In [ ]:
df2.head()

In [ ]:
df1=df1.rename(columns={'company_permalink':'permalink'})

In [ ]:
df1['permalink'] = df1['permalink'].str.lower()

In [ ]:
df2['permalink'] = df2['permalink'].str.lower()

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
master_frame=pd.merge(df1,df2,on="permalink",how="inner")

In [ ]:
master_frame.head()

In [ ]:
master_frame.shape[0]